<div class="row">
  <div class="col m8 offset-m2">
    <p>&nbsp;</p>
    <h4>MatScheduler - Your most reliable task planner</h4>
    <p>&nbsp;</p>
    <div class="col m5 left">
      <h5>Login</h5>
      <form action="" method= "post">
      <ul>
        <li>Email: <input type="text" name="email"></li>
        <li>Password: <input type="password" name="password"></li>
        <li><input type="submit" name="loginbtn" class="btn" value= "Login"></li>
      </ul>
      </form>
    </div>

    <div class="col m6 right">
      <h5>New Here? Register</h5>
      <form action="" method= "post">
      <ul>
        <li>First Name: <input type="text" name="firstname"></li>
        <li>Last Name: <input type="text" name="lastname"></li>
        <li>Email: <input type="text" name="email"></li>
        <li>Password: <input type="password" name="password"></li>
        <li>Confirm Password: <input type="password" name="confpswd"></li>
        <li><input type="submit" name="regbtn" class="btn" value="Register"></li>
      </ul>
      </form>
    </div>
  </div>
</div>