<div class= "row">
  <div class="col m7 offset-m2 left">
    <h5>New Task</h5>
    <form action="" method= "post">
      <ul>
        <li>Title: <input type="text" name="title"></li>
        <li>Event Date & Time: <input type="text" name="start"></li>
        <li><input type="submit" name="loginbtn" class="btn" value= "Login"></li>
      </ul>
    </form>
  </div>
</div>